.complect .container {
  padding-top: 100px;
  padding-bottom: 120px;
  background: url("../assets/images/complect.svg") 175% 35% / 90% no-repeat;
}

.complect .complect-title {
  max-width: 310px;
  color: #2e323e;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 138%;
}

.complect .complect-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.complect .complect-left {
  width: 73%;
}

.complect .complect-left .left-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 192px);
  grid-template-rows: repeat(2, 192px);
  gap: 30px;
  margin-top: 35px;
}

.complect .complect-left .left-list .left-item {
  padding-top: 30px;
  border-radius: 30px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 26.137px 0px rgba(180, 188, 201, 0.2);
  backdrop-filter: blur(8.047904014587402px);
}

.complect .complect-left .left-list .item-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 0 auto;
}
.complect .complect-left .left-list .left-item .item-img::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(112, 107, 255, 0.5);
  filter: blur(34px);
  z-index: -1;
}


.complect .complect-left .left-list .item-text {
  margin-top: 20px;
  color: #2e323e;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 500;
}

.complect .complect-link {
  display: block;
  width: 100%;
  margin-top: 2px;
  color: #5e44ff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-decoration: none;
}

.complect .complect-right {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 0 30px 68px;
  border-radius: 30px;
  border: 1px solid #fff;
  background: linear-gradient(259deg, rgba(238, 240, 254, 0.5) 0%, rgba(255, 255, 255, 0.5) 97.6%);
  box-shadow: 0px 0px 27.28px 0px rgba(180, 188, 201, 0.2);
  backdrop-filter: blur(8.399991989135742px);
}

.complect .complect-right .right-title {
  max-width: 290px;
  color: #2e323e;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 125%;
}

.complect .complect-right .right-title img {
  margin-bottom: -10px;
}

.complect .complect-right .complect-link {
  margin-top: 18px;
  text-align: left;
}

.complect .complect-right .right-img {
  max-width: 480px;
  width: 100%;
}

.complect .complect-right .right-img img {
  width: 100%;
}

.complect .complect-button {
  display: none;
  width: 345px;
  height: 36px;
  margin: 0 auto;
  margin-top: 20px;
  background: #dfff57;

  border: none;
  border-radius: 18px;

  color: #2e323e;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

@media (max-width: 991px) {
  .complect .complect-body {
    flex-direction: column;
  }
  .complect .complect-left {
    width: 100%;
  }
  .complect .complect-left .left-list {
    justify-content: center;
  }
  .complect .complect-right {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .complect .container{
    max-width: max-content;
    background: unset;
    padding-bottom: unset;
  }
  .complect .complect-title{
    max-width: 140px;
    font-size: 20px;
  }
  .complect .complect-left .left-list .left-item .item-text{
    font-size: 16px;
  }
  .complect .complect-left .left-list .left-item .item-link{
    font-size: 13px;
  }
  .complect .complect-body .left-list{
    grid-template-columns: repeat(2, 167px);
    grid-template-rows: repeat(2, 167px);
  }
  .complect .complect-button{
    display: block;
  }
  .complect .complect-right {
    display: none;
  }
}
