.contact_us .container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 274px 0 274px 0;
  background: url("../assets/images/contact_us.jpg");
  background-position: 350% 50%;
  background-repeat: no-repeat;
}

.contact_us .contact_us-form {
  max-width: 410px;
  width: 100%;
}

.contact_us .contact_us-form .form-title {
  max-width: 320px;
  margin-bottom: 48px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 45px;
}

.contact_us .contact_us-form .form-label {
  position: relative;
  display: block;
  margin-top: 17px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #c4c4c4;
}

.contact_us .contact_us-form .form-label .inp-icon {
  position: absolute;
  left: 17px;
  top: 45px;
  z-index: 10;
}

.contact_us .contact_us-form .form-inp {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 62px;
  padding-left: 41px;
  background: linear-gradient(to right, rgba(238, 240, 254, 0.5), rgba(255, 255, 255, 0.5));
  border: 1px solid #fff;
  border-radius: 18px;
}

.contact_us .contact_us-form .form-captcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.contact_us .contact_us-form .form-button {
  width: 100%;
  height: 36px;
  background-color: #dfff57;
  border: none;
  border-radius: 18px;

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.contact_us .contact_us-select {
  padding: 45px;
  background: linear-gradient(259deg, rgba(238, 240, 254, 0.5) 0%, rgba(255, 255, 255, 0.5) 97.6%);
  box-shadow: 0px 0px 27px rgba(180, 188, 201, 0.2);
  backdrop-filter: blur(9px);
  border: 1px solid #fff;
  border-radius: 15px;
}

.contact_us .contact_us-select .select-top {
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.contact_us .contact_us-select .select-top .select-title {
  max-width: 281px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.contact_us .contact_us-select .select-top .select-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 28px rgba(180, 188, 201, 0.5);
  border-radius: 50%;
}

.contact_us .contact_us-select .select-body {
  margin-top: 40px;
}

.contact_us .contact_us-select .select-body .select-item label {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 49px;
  margin-bottom: 11px;
  padding: 0 23px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 18.052px 0px rgba(160, 174, 195, 0.2);
  border: 1px solid #fff;
  border-radius: 15px;
  color: #333539;
}

.contact_us .contact_us-select .select-body .select-item .item-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact_us .contact_us-select .select-body .select-button {
  width: 100%;
  height: 36px;
  background: #5e44ff;
  border: none;
  border-radius: 15px;

  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
}

@media (max-width: 767px) {
  .contact_us .container {
    padding-bottom: 85px;
    padding-top: 115px;
  }
  .contact_us-select {
    display: none;
  }
  .contact_us .contact_us-form .form-title {
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    font-size: 32px;
    line-height: 100%;
  }
  .contact_us .contact_us-form .form-inp {
    background: linear-gradient(0deg, #fff 0%, #fff 100%),
      linear-gradient(139deg, rgba(255, 255, 255, 0.7) 13.69%, rgba(255, 255, 255, 0) 99.37%);
    stroke-width: 1px;
    stroke: #fff;
    filter: drop-shadow(0px 0px 23px rgba(180, 188, 201, 0.2));
  }
}

@media (max-width: 767px) {
  .TVFormBody {
    border-radius: 30px !important;
    border: 1px solid #fff !important;
    background: rgba(253, 253, 253, 0.5) !important;
    box-shadow: 0px 0px 22.733px 0px rgba(180, 188, 201, 0.2) !important;
    backdrop-filter: blur(7px) !important;
  }
}

.TVSearchButton {
  color: #2e323e !important;
}

.TVResultPageCaption,
.TVMobilePanelClose,
.TVMenuButton {
  border-radius: 38px !important;
  background: #fbffea !important;
  backdrop-filter: blur(3px) !important;
}
.TVToggleSwitch {
  background-color: #dfff57 !important;
  border-radius: 18px !important;
}
.TVToggleSwitchItem {
  color: #2e323e !important;
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
}
.TVToggleSwitchSelection {
  border-radius: 18px !important;
}

.TVCalendarTitleControlMonth {
  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 21px !important;
  font-weight: 600 !important;
  line-height: 153% !important;
}
.TVCalendarTitleControlYear {
  color: #c4c4c4 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.TVCalendarTableCell {
  border-radius: 18px !important;
  color: #2e323e !important;
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
}
.TVCalendarFlyAvailableCell {
  background: #f9f9f9 !important;
  font-weight: 700 !important;
}

.TVCalendarSelectedCell {
  background: #fbffea !important;
}
.TVCalendarFlyAvailablePrice {
  color: #2e323e !important;
  font-size: 10px !important;
  letter-spacing: -0.55px !important;
}

.TVCalendarEndDateCell,
.TVCalendarEndDateCell:hover,
.TVCalendarStartDateCell,
.TVCalendarStartDateCell:hover {
  background: #e6ff4f !important;
}

.TVCalendarListViewWeekdays {
  color: #2e323e !important;
}

.TVCalendarListViewWeekdays div:nth-child(6),
.TVCalendarListViewWeekdays > :nth-child(7) {
  color: #5e44ff !important;
}

.TVButtonControl.TVVariant-contained.TVColorBlue400 {
  background-color: #dfff57 !important;
  border-radius: 18px !important;
  border: none !important;

  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px !important;
}

/* styling popup bottom */

.TVFlyDatesSelectTooltipPage .TVFlyDatesSelectTooltipRegular,
.TVFlyDatesSelectTooltipSheet .TVFlyDatesSelectTooltipRegular,
.TVCountrySelectTooltipRegular,
.TVTouristsSelectTooltipSheet .TVTouristsSelectTooltipRemember {
  background: #fbffea !important;
}

.TVCheckBox {
  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 13px !important;
}
.TVCheckBox:before {
  border-radius: 50% !important;
}

.TVRangeTableCell {
  border-radius: 18px !important;
  background: #fff !important;
}

.TVRangeTableCell.TVRangeCellSelected {
  background: #fbffea !important;
}
.TVRangeTableCell.TVRangeCellHovered.TVRangeCellHightlighted.TVRangeCellStart,
.TVRangeTableCell.TVRangeCellHovered.TVRangeCellHightlighted.TVRangeCellLast {
  background: #e6ff4f !important;
  color: #2e323e !important;
}

.TVRangeSelectTooltipHighlightHelp {
  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
}

.TVRangeSelectTooltipHighlightHelp:before {
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #c4c4c4 !important;
}

.TVButtonControl.TVColorBlue400.TVVariant-outlined {
  width: 330px !important;
  background: #dfff57 !important;
  border-radius: 18px !important;
  border: none !important;

  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px !important;
}

.TVTabListWithSearchInputBeforeTabs .TVTabListWithSearchInput,
.TVTabListControl.TVStyleTheme2 .TVTabListItem,
.TVTabListControl.TVStyleTheme3 .TVTabListItem,
.TVInput.TVTooltipPageSearchInput {
  background: #fbffea !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
}

.TVInput::after {
  color: #2e323e !important;
}

.TVInput input {
  background-color: transparent !important;
  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 13.5px !important;
  font-weight: 500 !important;
}

.TVTabListControl.TVStyleTheme2 .TVTabListItem.TVActive,
.TVTabListControl.TVStyleTheme3 .TVTabListItem.TVActive {
  background: #f9f9f9 !important;
  color: #2e323e !important;
  font-weight: 400 !important;
}

.TVComplexListItemButton {
  background-color: #f9f9f9 !important;
  padding: 5px 12px !important;

  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
}

.TVTouristsSelectTooltipTitle {
  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16.37px !important;
  font-weight: 600 !important;
}

.TVTouristAction {
  width: 36px !important;
  height: 36px !important;
  background: #fbffea !important;
  border-radius: 50% !important;
}

.TVTouristElement {
  padding: 2px;
  background: #dfff57 !important;
  font-family: "Montserrat", sans-serif !important;
}

.TVTouristContentMinus:after,
.TVTouristContentPlus:after {
  color: #2e323e !important;
}

.TVTouristElement.TVTouristButton {
  background: #f9f9f9 !important;
  border-radius: 18px !important;

  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
}

.TVSelectChildAgeHeader {
  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
}

.TVSelectChildAgeItem {
  background: #fbffea !important;
  border-radius: 18px !important;

  color: #2e323e !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
}

.TVMobileHeaderWrapper {
  padding: 23px 0 10px 0 !important;
  background: #fff !important;
  box-shadow: 0px 0px 23.667px 0px rgba(180, 188, 201, 0.5) !important;
}

.TVBaseSearchFilterPage.TVLayoutControl .TVMobilePanelHeader {
  background-color: transparent !important;
}

.TVBaseSearchFilterPage.TVLayoutControl .TVMobilePanelBody {
  background-color: #fff !important;
}

.TVMobileAddFiltersFormItem {
  border: none !important;
}

.TVStarsSelectTitle{
  color: #2e323e !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.TVStarsSelect.TVStyleTheme3 .TVStarsSelectItem.TVActive:before {
  color: #5e44ff !important;
}
