.select{
  padding-top: 120px;
}

.select-title {
  max-width: 360px;
  color: #2e323e;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 138%; 
}

.select-body {
  padding-bottom: 140px;
  border-bottom: 1px dashed #c4c4c4;
}

.select-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.select-tooltip span {
  color: #9496c0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}


.animation{
  position: absolute;
  top: 70px;
  left: 0;
  height: max-content;
  z-index: -1;
}

.mobbile-animation{
  display: none;
}

@media (max-width: 767px) {
  .select{
    padding-top: 45px;
  }
  .desktop-animation{
    display: none;
  }
  .mobbile-animation{
    top: 0;
    display: block;
    height: max-content;
  }
  .select-title{
    max-width: 240px;
    font-size: 20px;
  }
  .select-body{
    padding: unset;
    border: unset;
  }
}